/****** Object:  Database CMSNET    Script Date: 10/5/2001 2:36:32 AM ******/
IF EXISTS (SELECT name FROM master.dbo.sysdatabases WHERE name = N'CMSNET')
	DROP DATABASE [CMSNET]
GO

CREATE DATABASE [CMSNET]
GO

exec sp_dboption N'CMSNET', N'autoclose', N'false'
GO

exec sp_dboption N'CMSNET', N'bulkcopy', N'false'
GO

exec sp_dboption N'CMSNET', N'trunc. log', N'true'
GO

exec sp_dboption N'CMSNET', N'torn page detection', N'true'
GO

exec sp_dboption N'CMSNET', N'read only', N'false'
GO

exec sp_dboption N'CMSNET', N'dbo use', N'false'
GO

exec sp_dboption N'CMSNET', N'single', N'false'
GO

exec sp_dboption N'CMSNET', N'autoshrink', N'true'
GO

exec sp_dboption N'CMSNET', N'ANSI null default', N'false'
GO

exec sp_dboption N'CMSNET', N'recursive triggers', N'false'
GO

exec sp_dboption N'CMSNET', N'ANSI nulls', N'false'
GO

exec sp_dboption N'CMSNET', N'concat null yields null', N'false'
GO

exec sp_dboption N'CMSNET', N'cursor close on commit', N'false'
GO

exec sp_dboption N'CMSNET', N'default to local cursor', N'false'
GO

exec sp_dboption N'CMSNET', N'quoted identifier', N'false'
GO

exec sp_dboption N'CMSNET', N'ANSI warnings', N'false'
GO

exec sp_dboption N'CMSNET', N'auto create statistics', N'true'
GO

exec sp_dboption N'CMSNET', N'auto update statistics', N'true'
GO

use [CMSNET]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_AccountRoles_Account]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[AccountRoles] DROP CONSTRAINT FK_AccountRoles_Account
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_Content_Account]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[Content] DROP CONSTRAINT FK_Content_Account
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_Content_Account1]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[Content] DROP CONSTRAINT FK_Content_Account1
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_Zone_Domain]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[Zone] DROP CONSTRAINT FK_Zone_Domain
GO

/****** Object:  Stored Procedure dbo.AccountRoles_GetAllRole    Script Date: 10/5/2001 2:36:33 AM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[AccountRoles_GetAllRole]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[AccountRoles_GetAllRole]
GO

/****** Object:  Stored Procedure dbo.AccountRoles_GetRolesForID    Script Date: 10/5/2001 2:36:33 AM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[AccountRoles_GetRolesForID]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[AccountRoles_GetRolesForID]
GO

/****** Object:  Stored Procedure dbo.AccountRoles_Insert    Script Date: 10/5/2001 2:36:33 AM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[AccountRoles_Insert]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[AccountRoles_Insert]
GO

/****** Object:  Stored Procedure dbo.AccountRoles_Remove    Script Date: 10/5/2001 2:36:33 AM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[AccountRoles_Remove]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[AccountRoles_Remove]
GO

/****** Object:  Stored Procedure dbo.Content_Insert    Script Date: 10/5/2001 2:36:33 AM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Content_Insert]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[Content_Insert]
GO

/****** Object:  Stored Procedure dbo.Content_SetProtected    Script Date: 10/5/2001 2:36:33 AM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Content_SetProtected]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[Content_SetProtected]
GO

/****** Object:  Stored Procedure dbo.Content_Update    Script Date: 10/5/2001 2:36:33 AM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Content_Update]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[Content_Update]
GO

/****** Object:  Stored Procedure dbo.AccountProperty_GetValue    Script Date: 10/5/2001 2:36:33 AM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[AccountProperty_GetValue]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[AccountProperty_GetValue]
GO

/****** Object:  Stored Procedure dbo.AccountProperty_Insert    Script Date: 10/5/2001 2:36:33 AM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[AccountProperty_Insert]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[AccountProperty_Insert]
GO

/****** Object:  Stored Procedure dbo.AccountProperty_Remove    Script Date: 10/5/2001 2:36:33 AM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[AccountProperty_Remove]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[AccountProperty_Remove]
GO

/****** Object:  Stored Procedure dbo.AccountProperty_RemoveProperty    Script Date: 10/5/2001 2:36:33 AM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[AccountProperty_RemoveProperty]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[AccountProperty_RemoveProperty]
GO

/****** Object:  Stored Procedure dbo.AccountProperty_Update    Script Date: 10/5/2001 2:36:33 AM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[AccountProperty_Update]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[AccountProperty_Update]
GO

/****** Object:  Stored Procedure dbo.ContentNotes_CountNotesForID    Script Date: 10/5/2001 2:36:33 AM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[ContentNotes_CountNotesForID]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[ContentNotes_CountNotesForID]
GO

/****** Object:  Stored Procedure dbo.ContentNotes_GetNote    Script Date: 10/5/2001 2:36:33 AM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[ContentNotes_GetNote]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[ContentNotes_GetNote]
GO

/****** Object:  Stored Procedure dbo.ContentNotes_GetNotesForID    Script Date: 10/5/2001 2:36:33 AM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[ContentNotes_GetNotesForID]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[ContentNotes_GetNotesForID]
GO

/****** Object:  Stored Procedure dbo.ContentNotes_Insert    Script Date: 10/5/2001 2:36:33 AM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[ContentNotes_Insert]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[ContentNotes_Insert]
GO

/****** Object:  Stored Procedure dbo.ContentNotes_Remove    Script Date: 10/5/2001 2:36:33 AM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[ContentNotes_Remove]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[ContentNotes_Remove]
GO

/****** Object:  Stored Procedure dbo.ContentNotes_Update    Script Date: 10/5/2001 2:36:33 AM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[ContentNotes_Update]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[ContentNotes_Update]
GO

/****** Object:  Stored Procedure dbo.ContentRank_GetRankID    Script Date: 10/5/2001 2:36:33 AM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[ContentRank_GetRankID]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[ContentRank_GetRankID]
GO

/****** Object:  Stored Procedure dbo.ContentRank_GetRanks    Script Date: 10/5/2001 2:36:33 AM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[ContentRank_GetRanks]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[ContentRank_GetRanks]
GO

/****** Object:  Stored Procedure dbo.Account_Authenticated    Script Date: 10/5/2001 2:36:33 AM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Account_Authenticated]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[Account_Authenticated]
GO

/****** Object:  Stored Procedure dbo.Account_Exist    Script Date: 10/5/2001 2:36:33 AM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Account_Exist]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[Account_Exist]
GO

/****** Object:  Stored Procedure dbo.Account_GetAccountForID    Script Date: 10/5/2001 2:36:33 AM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Account_GetAccountForID]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[Account_GetAccountForID]
GO

/****** Object:  Stored Procedure dbo.Account_GetAccountID    Script Date: 10/5/2001 2:36:33 AM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Account_GetAccountID]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[Account_GetAccountID]
GO

/****** Object:  Stored Procedure dbo.Account_GetAccounts    Script Date: 10/5/2001 2:36:33 AM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Account_GetAccounts]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[Account_GetAccounts]
GO

/****** Object:  Stored Procedure dbo.Account_Insert    Script Date: 10/5/2001 2:36:33 AM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Account_Insert]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[Account_Insert]
GO

/****** Object:  Stored Procedure dbo.Account_Remove    Script Date: 10/5/2001 2:36:33 AM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Account_Remove]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[Account_Remove]
GO

/****** Object:  Stored Procedure dbo.Account_Update    Script Date: 10/5/2001 2:36:33 AM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Account_Update]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[Account_Update]
GO

/****** Object:  Stored Procedure dbo.Content_GetContentForID    Script Date: 10/5/2001 2:36:33 AM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Content_GetContentForID]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[Content_GetContentForID]
GO

/****** Object:  Stored Procedure dbo.Content_GetContentForIDVer    Script Date: 10/5/2001 2:36:33 AM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Content_GetContentForIDVer]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[Content_GetContentForIDVer]
GO

/****** Object:  Stored Procedure dbo.Content_GetHeadlines    Script Date: 10/5/2001 2:36:33 AM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Content_GetHeadlines]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[Content_GetHeadlines]
GO

/****** Object:  Stored Procedure dbo.Content_GetHeadlinesForApprove    Script Date: 10/5/2001 2:36:33 AM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Content_GetHeadlinesForApprove]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[Content_GetHeadlinesForApprove]
GO

/****** Object:  Stored Procedure dbo.Content_GetHeadlinesForAuth    Script Date: 10/5/2001 2:36:33 AM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Content_GetHeadlinesForAuth]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[Content_GetHeadlinesForAuth]
GO

/****** Object:  Stored Procedure dbo.Content_GetHeadlinesForEdit    Script Date: 10/5/2001 2:36:33 AM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Content_GetHeadlinesForEdit]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[Content_GetHeadlinesForEdit]
GO

/****** Object:  Stored Procedure dbo.Content_NextContentID    Script Date: 10/5/2001 2:36:33 AM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Content_NextContentID]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[Content_NextContentID]
GO

/****** Object:  Stored Procedure dbo.Content_Remove    Script Date: 10/5/2001 2:36:33 AM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Content_Remove]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[Content_Remove]
GO

/****** Object:  Stored Procedure dbo.Content_SetApproval    Script Date: 10/5/2001 2:36:33 AM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Content_SetApproval]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[Content_SetApproval]
GO

/****** Object:  Stored Procedure dbo.Content_SetEditor    Script Date: 10/5/2001 2:36:33 AM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Content_SetEditor]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[Content_SetEditor]
GO

/****** Object:  Stored Procedure dbo.Content_SetStatus    Script Date: 10/5/2001 2:36:33 AM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Content_SetStatus]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[Content_SetStatus]
GO

/****** Object:  Stored Procedure dbo.Distribution_GetOrdered    Script Date: 10/5/2001 2:36:33 AM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Distribution_GetOrdered]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[Distribution_GetOrdered]
GO

/****** Object:  Stored Procedure dbo.Distribution_Insert    Script Date: 10/5/2001 2:36:33 AM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Distribution_Insert]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[Distribution_Insert]
GO

/****** Object:  Stored Procedure dbo.Distribution_Remove    Script Date: 10/5/2001 2:36:33 AM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Distribution_Remove]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[Distribution_Remove]
GO

/****** Object:  Stored Procedure dbo.Distribution_UpdateRank    Script Date: 10/5/2001 2:36:33 AM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Distribution_UpdateRank]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[Distribution_UpdateRank]
GO

/****** Object:  Stored Procedure dbo.Domain_GetAll    Script Date: 10/5/2001 2:36:33 AM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Domain_GetAll]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[Domain_GetAll]
GO

/****** Object:  Stored Procedure dbo.Domain_GetDomainForID    Script Date: 10/5/2001 2:36:33 AM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Domain_GetDomainForID]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[Domain_GetDomainForID]
GO

/****** Object:  Stored Procedure dbo.Zone_GetAllZones    Script Date: 10/5/2001 2:36:33 AM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Zone_GetAllZones]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[Zone_GetAllZones]
GO

/****** Object:  Stored Procedure dbo.Zone_GetZone    Script Date: 10/5/2001 2:36:33 AM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Zone_GetZone]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[Zone_GetZone]
GO

/****** Object:  Stored Procedure dbo.Zone_GetZonesForDomain    Script Date: 10/5/2001 2:36:33 AM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Zone_GetZonesForDomain]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[Zone_GetZonesForDomain]
GO

/****** Object:  Table [dbo].[AccountRoles]    Script Date: 10/5/2001 2:36:33 AM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[AccountRoles]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[AccountRoles]
GO

/****** Object:  Table [dbo].[Content]    Script Date: 10/5/2001 2:36:33 AM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Content]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Content]
GO

/****** Object:  Table [dbo].[Zone]    Script Date: 10/5/2001 2:36:33 AM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Zone]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Zone]
GO

/****** Object:  Table [dbo].[Account]    Script Date: 10/5/2001 2:36:33 AM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Account]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Account]
GO

/****** Object:  Table [dbo].[AccountProperty]    Script Date: 10/5/2001 2:36:33 AM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[AccountProperty]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[AccountProperty]
GO

/****** Object:  Table [dbo].[ContentNotes]    Script Date: 10/5/2001 2:36:33 AM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[ContentNotes]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[ContentNotes]
GO

/****** Object:  Table [dbo].[ContentRank]    Script Date: 10/5/2001 2:36:33 AM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[ContentRank]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[ContentRank]
GO

/****** Object:  Table [dbo].[Distribution]    Script Date: 10/5/2001 2:36:33 AM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Distribution]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Distribution]
GO

/****** Object:  Table [dbo].[Domain]    Script Date: 10/5/2001 2:36:33 AM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Domain]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Domain]
GO

/****** Object:  Table [dbo].[Roles]    Script Date: 10/5/2001 2:36:33 AM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Roles]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Roles]
GO

/****** Object:  User dbo    Script Date: 10/5/2001 2:36:32 AM ******/
/****** Object:  Table [dbo].[Account]    Script Date: 10/5/2001 2:36:34 AM ******/
CREATE TABLE [dbo].[Account] (
	[AccountID] [int] IDENTITY (1, 1) NOT NULL ,
	[UserName] [char] (32) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[Password] [char] (40) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[Email] [char] (64) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ModifiedDate] [datetime] NOT NULL ,
	[CreationDate] [datetime] NOT NULL 
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[AccountProperty]    Script Date: 10/5/2001 2:36:35 AM ******/
CREATE TABLE [dbo].[AccountProperty] (
	[AccountID] [int] NOT NULL ,
	[Property] [char] (32) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[Value] [text] COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[ModifiedDate] [datetime] NOT NULL ,
	[CreationDate] [datetime] NOT NULL 
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

/****** Object:  Table [dbo].[ContentNotes]    Script Date: 10/5/2001 2:36:35 AM ******/
CREATE TABLE [dbo].[ContentNotes] (
	[NoteID] [int] IDENTITY (1, 1) NOT NULL ,
	[ContentID] [int] NOT NULL ,
	[Note] [text] COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[Author] [int] NOT NULL ,
	[ModifiedDate] [datetime] NOT NULL ,
	[CreationDate] [datetime] NOT NULL 
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

/****** Object:  Table [dbo].[ContentRank]    Script Date: 10/5/2001 2:36:35 AM ******/
CREATE TABLE [dbo].[ContentRank] (
	[RankID] [int] NOT NULL ,
	[Rank] [char] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL 
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Distribution]    Script Date: 10/5/2001 2:36:35 AM ******/
CREATE TABLE [dbo].[Distribution] (
	[ContentID] [int] NOT NULL ,
	[Version] [int] NOT NULL ,
	[ZoneID] [int] NOT NULL ,
	[Ranking] [int] NOT NULL ,
	[ModifiedDate] [datetime] NOT NULL ,
	[CreationDate] [datetime] NOT NULL 
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Domain]    Script Date: 10/5/2001 2:36:36 AM ******/
CREATE TABLE [dbo].[Domain] (
	[DomainID] [int] NOT NULL ,
	[DomainType] [char] (32) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[Protected] [int] NOT NULL ,
	[Title] [char] (32) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[Description] [char] (64) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[ModifiedDate] [datetime] NOT NULL ,
	[CreationDate] [datetime] NOT NULL 
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Roles]    Script Date: 10/5/2001 2:36:36 AM ******/
CREATE TABLE [dbo].[Roles] (
	[RoleID] [int] NOT NULL ,
	[Role] [char] (32) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL 
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[AccountRoles]    Script Date: 10/5/2001 2:36:36 AM ******/
CREATE TABLE [dbo].[AccountRoles] (
	[AccountID] [int] NOT NULL ,
	[Role] [char] (32) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[CreationDate] [datetime] NOT NULL 
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Content]    Script Date: 10/5/2001 2:36:37 AM ******/
CREATE TABLE [dbo].[Content] (
	[ContentID] [int] NOT NULL ,
	[Version] [int] NOT NULL ,
	[Protected] [int] NOT NULL ,
	[Headline] [text] COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[Source] [text] COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[Byline] [int] NOT NULL ,
	[Teaser] [text] COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[Body] [text] COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[TagLine] [text] COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[Status] [int] NOT NULL ,
	[Editor] [int] NOT NULL ,
	[Approver] [int] NOT NULL ,
	[UpdateUserID] [int] NOT NULL ,
	[ModifiedDate] [datetime] NOT NULL ,
	[CreationDate] [datetime] NOT NULL 
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Zone]    Script Date: 10/5/2001 2:36:37 AM ******/
CREATE TABLE [dbo].[Zone] (
	[ZoneID] [int] NOT NULL ,
	[Protected] [int] NOT NULL ,
	[Title] [char] (32) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[Description] [char] (64) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[DomainID] [int] NOT NULL ,
	[ModifiedDate] [datetime] NOT NULL ,
	[CreationDate] [datetime] NOT NULL 
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[Account] WITH NOCHECK ADD 
	CONSTRAINT [PK_Account] PRIMARY KEY  CLUSTERED 
	(
		[AccountID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[AccountProperty] WITH NOCHECK ADD 
	CONSTRAINT [PK_AccountProperty] PRIMARY KEY  CLUSTERED 
	(
		[AccountID],
		[Property]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[ContentNotes] WITH NOCHECK ADD 
	CONSTRAINT [PK_ContentNotes] PRIMARY KEY  CLUSTERED 
	(
		[NoteID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[ContentRank] WITH NOCHECK ADD 
	CONSTRAINT [PK_ContentRank] PRIMARY KEY  CLUSTERED 
	(
		[RankID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Distribution] WITH NOCHECK ADD 
	CONSTRAINT [PK_Distribution] PRIMARY KEY  CLUSTERED 
	(
		[ContentID],
		[Version],
		[ZoneID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Domain] WITH NOCHECK ADD 
	CONSTRAINT [PK_Domain] PRIMARY KEY  CLUSTERED 
	(
		[DomainID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Roles] WITH NOCHECK ADD 
	CONSTRAINT [PK_Roles] PRIMARY KEY  CLUSTERED 
	(
		[RoleID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[AccountRoles] WITH NOCHECK ADD 
	CONSTRAINT [PK_AccountRoles] PRIMARY KEY  CLUSTERED 
	(
		[AccountID],
		[Role]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Content] WITH NOCHECK ADD 
	CONSTRAINT [PK_Content] PRIMARY KEY  CLUSTERED 
	(
		[ContentID] DESC ,
		[Version] DESC 
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Zone] WITH NOCHECK ADD 
	CONSTRAINT [PK_Zone] PRIMARY KEY  CLUSTERED 
	(
		[ZoneID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Account] WITH NOCHECK ADD 
	CONSTRAINT [IX_Account] UNIQUE  NONCLUSTERED 
	(
		[UserName]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[AccountRoles] ADD 
	CONSTRAINT [FK_AccountRoles_Account] FOREIGN KEY 
	(
		[AccountID]
	) REFERENCES [dbo].[Account] (
		[AccountID]
	)
GO

ALTER TABLE [dbo].[Content] ADD 
	CONSTRAINT [FK_Content_Account] FOREIGN KEY 
	(
		[Byline]
	) REFERENCES [dbo].[Account] (
		[AccountID]
	),
	CONSTRAINT [FK_Content_Account1] FOREIGN KEY 
	(
		[UpdateUserID]
	) REFERENCES [dbo].[Account] (
		[AccountID]
	)
GO

ALTER TABLE [dbo].[Zone] ADD 
	CONSTRAINT [FK_Zone_Domain] FOREIGN KEY 
	(
		[DomainID]
	) REFERENCES [dbo].[Domain] (
		[DomainID]
	)
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

/****** Object:  Stored Procedure dbo.Account_Authenticated    Script Date: 10/5/2001 2:36:37 AM ******/
CREATE PROCEDURE dbo.Account_Authenticated
	(
		@username NVARCHAR(32) = NULL
	)
AS
	SET NOCOUNT ON
    
    SELECT Password 
      FROM Account 
     WHERE UserName=@username
     
	RETURN 

GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

/****** Object:  Stored Procedure dbo.Account_Exist    Script Date: 10/5/2001 2:36:38 AM ******/
CREATE PROCEDURE dbo.Account_Exist
	(
		@AccountID INT = NULL
	)
AS
	SET NOCOUNT ON

    SELECT AccountID 
      FROM Account 
     WHERE AccountID=@AccountID

	RETURN 

GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

/****** Object:  Stored Procedure dbo.Account_GetAccountForID    Script Date: 10/5/2001 2:36:38 AM ******/
CREATE PROCEDURE dbo.Account_GetAccountForID
	(
		@AccountID INT = NULL
	)
AS
	SET NOCOUNT ON

    SELECT   AccountID, UserName, Email, Password 
      FROM   Account 
     WHERE   AccountID=@AccountID

	RETURN 

GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

/****** Object:  Stored Procedure dbo.Account_GetAccountID    Script Date: 10/5/2001 2:36:38 AM ******/
CREATE PROCEDURE dbo.Account_GetAccountID
	(
		@UserName NVARCHAR(32) = NULL
	)
AS
	SET NOCOUNT ON

    SELECT AccountID 
      FROM Account 
     WHERE UserName=@UserName

	RETURN 

GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

/****** Object:  Stored Procedure dbo.Account_GetAccounts    Script Date: 10/5/2001 2:36:38 AM ******/
CREATE PROCEDURE dbo.Account_GetAccounts
AS
	SET NOCOUNT ON

    Select   AccountID, UserName, Email 
    FROM     Account

	RETURN 

GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

/****** Object:  Stored Procedure dbo.Account_Insert    Script Date: 10/5/2001 2:36:38 AM ******/
CREATE PROCEDURE dbo.Account_Insert
	(
		@UserName NVARCHAR(32) = NULL,
		@Password NVARCHAR(40) = NULL,
		@Email NVARCHAR(64)    = NULL,
		@ModifiedDate DATETIME = NULL,
		@CreationDate DATETIME = NULL
	)
AS
	SET NOCOUNT ON
	
	INSERT INTO Account (UserName, Password, Email, ModifiedDate, CreationDate) 
	       VALUES (@UserName, @Password, @Email, @ModifiedDate, @CreationDate)

	RETURN 


GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

/****** Object:  Stored Procedure dbo.Account_Remove    Script Date: 10/5/2001 2:36:38 AM ******/
CREATE PROCEDURE dbo.Account_Remove
	(
		@AccountID INT = NULL
	)
AS
    DELETE FROM Account 
    
    WHERE AccountID=@AccountID
	
	RETURN 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

/****** Object:  Stored Procedure dbo.Account_Update    Script Date: 10/5/2001 2:36:38 AM ******/
CREATE PROCEDURE dbo.Account_Update
	(
		@AccountID INT         = NULL,
		@UserName NVARCHAR(32) = NULL,
		@Password NVARCHAR(40) = NULL,
		@Email NVARCHAR(64)    = NULL,
		@ModifiedDate DATETIME = NULL
	)
AS
	SET NOCOUNT ON
	
	UPDATE Account
	SET UserName = @UserName,
	    Password = @Password,
	    Email    = @Email,
	    ModifiedDate = @ModifiedDate
	WHERE AccountID = @AccountID
	
	RETURN 

GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

/****** Object:  Stored Procedure dbo.Content_GetContentForID    Script Date: 10/5/2001 2:36:38 AM ******/
CREATE PROCEDURE dbo.Content_GetContentForID
	(
		@cid INT = NULL
	)
AS
	SET NOCOUNT ON
	
    SELECT * 
    FROM Content 
    
    WHERE ContentID=@cid
	
	RETURN 

GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

/****** Object:  Stored Procedure dbo.Content_GetContentForIDVer    Script Date: 10/5/2001 2:36:38 AM ******/
CREATE PROCEDURE dbo.Content_GetContentForIDVer
	(
		@cid INT = NULL,
		@ver INT = NULL
	)
AS
	SET NOCOUNT ON
	
    SELECT * 
    FROM Content 
    
    WHERE ContentID=@cid
      AND Version=@ver
	
	RETURN 

GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

/****** Object:  Stored Procedure dbo.Content_GetHeadlines    Script Date: 10/5/2001 2:36:38 AM ******/
CREATE PROCEDURE dbo.Content_GetHeadlines
AS
	SET NOCOUNT ON
	
      SELECT ContentID, Version, Headline, Status, Editor, Approver
        FROM Content 
	
	RETURN 

GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

/****** Object:  Stored Procedure dbo.Content_GetHeadlinesForApprove    Script Date: 10/5/2001 2:36:38 AM ******/
CREATE PROCEDURE dbo.Content_GetHeadlinesForApprove
	(
		@Approver INT = NULL
	)
AS
	SET NOCOUNT ON
	
      SELECT ContentID, Version, Headline, Status, Approver 
        FROM Content 
       WHERE Approver=@Approver
          OR Approver=0
	
	RETURN 

GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

/****** Object:  Stored Procedure dbo.Content_GetHeadlinesForAuth    Script Date: 10/5/2001 2:36:38 AM ******/
CREATE PROCEDURE dbo.Content_GetHeadlinesForAuth
	(
		@Byline INT            = NULL
	)
AS
	SET NOCOUNT ON
	
      SELECT ContentID, Version, Headline, Status 
        FROM Content 
       WHERE Byline=@Byline
	
	RETURN 

GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

/****** Object:  Stored Procedure dbo.Content_GetHeadlinesForEdit    Script Date: 10/5/2001 2:36:38 AM ******/
CREATE PROCEDURE dbo.Content_GetHeadlinesForEdit
	(
		@Editor INT            = NULL
	)
AS
	SET NOCOUNT ON
	
      SELECT ContentID, Version, Headline, Status, Editor 
        FROM Content 
       WHERE Editor=@Editor
          OR Editor=0
	
	RETURN 

GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

/****** Object:  Stored Procedure dbo.Content_NextContentID    Script Date: 10/5/2001 2:36:38 AM ******/
CREATE PROCEDURE dbo.Content_NextContentID
AS
	SET NOCOUNT ON

    SELECT DISTINCT ContentID 
    FROM     Content
    ORDER BY ContentID DESC

	RETURN 

GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

/****** Object:  Stored Procedure dbo.Content_Remove    Script Date: 10/5/2001 2:36:38 AM ******/
CREATE PROCEDURE dbo.Content_Remove
	(
		@cid INT         = NULL,
		@ver INT         = NULL
	)
AS
    DELETE FROM Content 
    
    WHERE ContentID=@cid
      AND Version=@ver
	
	RETURN 

GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

/****** Object:  Stored Procedure dbo.Content_SetApproval    Script Date: 10/5/2001 2:36:38 AM ******/
CREATE PROCEDURE dbo.Content_SetApproval
	(
		@ContentID INT         = NULL,
		@Version INT           = NULL,
		@Approver INT          = NULL,
		@Status INT            = NULL,
		@ModifiedDate DATETIME = NULL
	)
AS
	SET NOCOUNT ON
	
	UPDATE Content
	SET 
		   Status       = @Status,
		   Approver     = @Approver,
	       ModifiedDate = @ModifiedDate
	       
	WHERE  ContentID = @ContentID
	  AND  Version = @Version
	
	RETURN 

GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

/****** Object:  Stored Procedure dbo.Content_SetEditor    Script Date: 10/5/2001 2:36:38 AM ******/
CREATE PROCEDURE dbo.Content_SetEditor
	(
		@ContentID INT         = NULL,
		@Version INT           = NULL,
		@Editor INT            = NULL,
		@Status INT            = NULL,
		@ModifiedDate DATETIME = NULL
	)
AS
	SET NOCOUNT ON
	
	UPDATE Content
	SET 
		   Status       = @Status,
		   Editor       = @Editor,
	       ModifiedDate = @ModifiedDate
	       
	WHERE  ContentID = @ContentID
	  AND  Version = @Version
	  AND  Editor = 0
	
	RETURN 

GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

/****** Object:  Stored Procedure dbo.Content_SetStatus    Script Date: 10/5/2001 2:36:38 AM ******/
CREATE PROCEDURE dbo.Content_SetStatus
	(
		@ContentID INT         = NULL,
		@Version INT           = NULL,
		@Status INT            = NULL,
		@ModifiedDate DATETIME = NULL
	)
AS
	SET NOCOUNT ON
	
	UPDATE Content
	SET 
		   Status       = @Status,
	       ModifiedDate = @ModifiedDate
	       
	WHERE  ContentID = @ContentID
	  AND  Version = @Version
	
	RETURN 

GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

/****** Object:  Stored Procedure dbo.Distribution_GetOrdered    Script Date: 10/5/2001 2:36:39 AM ******/
CREATE PROCEDURE dbo.Distribution_GetOrdered
	(
		@ZoneID INT = NULL
	)
AS
	SET NOCOUNT ON
	
	  SELECT *
	    FROM Distribution
	   WHERE ZoneID=@ZoneID
	ORDER BY Ranking DESC, ModifiedDate DESC, ContentID DESC

	RETURN 

GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

/****** Object:  Stored Procedure dbo.Distribution_Insert    Script Date: 10/5/2001 2:36:39 AM ******/
CREATE PROCEDURE dbo.Distribution_Insert
	(
		@ContentID INT         = NULL,
		@Version INT           = NULL,
		@ZoneID INT            = NULL,
		@Ranking INT           = NULL,
		@ModifiedDate DATETIME = NULL,
		@CreationDate DATETIME = NULL

	)
AS
	SET NOCOUNT ON
	
	INSERT INTO Distribution (ContentID, Version, ZoneID, Ranking, 
	                          ModifiedDate, CreationDate) 
	       VALUES (@ContentID, @Version, @ZoneID, @Ranking, 
	               @ModifiedDate, @CreationDate)

	RETURN 

GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

/****** Object:  Stored Procedure dbo.Distribution_Remove    Script Date: 10/5/2001 2:36:39 AM ******/
CREATE PROCEDURE dbo.Distribution_Remove
	(
		@cid INT         = NULL,
		@ver INT         = NULL
	)
AS
    DELETE FROM Distribution 
    
    WHERE ContentID=@cid
      AND Version=@ver
	
	RETURN 

GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

/****** Object:  Stored Procedure dbo.Distribution_UpdateRank    Script Date: 10/5/2001 2:36:39 AM ******/
CREATE PROCEDURE dbo.Distribution_UpdateRank
	(
		@ContentID INT         = NULL,
		@Version INT           = NULL,
		@ZoneID INT            = NULL,
		@Ranking INT           = NULL,
		@ModifiedDate DATETIME = NULL
	)
AS
	SET NOCOUNT ON
	
	UPDATE Distribution
	SET 
		   Ranking      = @Ranking,
	       ModifiedDate = @ModifiedDate
	       
	WHERE  ContentID = @ContentID
	  AND  Version = @Version
	  AND  ZoneID = @ZoneID
	
	RETURN 

GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

/****** Object:  Stored Procedure dbo.Domain_GetAll    Script Date: 10/5/2001 2:36:39 AM ******/
CREATE PROCEDURE dbo.Domain_GetAll
AS
	SET NOCOUNT ON
	
	SELECT * FROM Domain
	
	RETURN 

GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

/****** Object:  Stored Procedure dbo.Domain_GetDomainForID    Script Date: 10/5/2001 2:36:39 AM ******/
CREATE PROCEDURE dbo.Domain_GetDomainForID
	(
		@did INT = NULL
	)
AS
	SET NOCOUNT ON
	
	SELECT * 
	  FROM Domain
	 WHERE DomainID=@did
	
	RETURN 

GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

/****** Object:  Stored Procedure dbo.Zone_GetAllZones    Script Date: 10/5/2001 2:36:39 AM ******/
CREATE PROCEDURE dbo.Zone_GetAllZones
AS
	SET NOCOUNT ON

    SELECT *
      FROM Zone

	RETURN 

GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

/****** Object:  Stored Procedure dbo.Zone_GetZone    Script Date: 10/5/2001 2:36:39 AM ******/
CREATE PROCEDURE dbo.Zone_GetZone
	(
		@ZoneID INT = NULL
	)
AS
	SET NOCOUNT ON

    SELECT *
      FROM Zone
     WHERE ZoneID=@ZoneID

	RETURN 

GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

/****** Object:  Stored Procedure dbo.Zone_GetZonesForDomain    Script Date: 10/5/2001 2:36:39 AM ******/
CREATE PROCEDURE dbo.Zone_GetZonesForDomain
	(
		@domain INT = NULL
	)
AS
	SET NOCOUNT ON

    SELECT *
      FROM Zone
     WHERE DomainID=@domain

	RETURN 

GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

/****** Object:  Stored Procedure dbo.AccountProperty_GetValue    Script Date: 10/5/2001 2:36:39 AM ******/
CREATE PROCEDURE dbo.AccountProperty_GetValue
	(
		@AccountID INT         = NULL,
		@Property NVARCHAR(32) = NULL
	)
AS
	SET NOCOUNT ON

    SELECT Value
      FROM AccountProperty
     WHERE (AccountID = @AccountID AND Property = @Property)

	RETURN 

GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

/****** Object:  Stored Procedure dbo.AccountProperty_Insert    Script Date: 10/5/2001 2:36:39 AM ******/
CREATE PROCEDURE dbo.AccountProperty_Insert
	(
		@AccountID INT         = NULL,
		@Property NVARCHAR(32) = NULL,
		@Value TEXT            = NULL,
		@ModifiedDate DATETIME = NULL,
		@CreationDate DATETIME = NULL
	)
AS
	SET NOCOUNT ON
	
	INSERT INTO AccountProperty (AccountID, Property, Value, ModifiedDate, CreationDate) 
	       VALUES (@AccountID, @Property, @Value, @ModifiedDate, @CreationDate)
	
	RETURN 

GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

/****** Object:  Stored Procedure dbo.AccountProperty_Remove    Script Date: 10/5/2001 2:36:39 AM ******/
CREATE PROCEDURE dbo.AccountProperty_Remove
	(
		@AccountID INT = NULL
	)
AS
    DELETE FROM AccountProperty 
    
    WHERE AccountID=@AccountID
	
	RETURN 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

/****** Object:  Stored Procedure dbo.AccountProperty_RemoveProperty    Script Date: 10/5/2001 2:36:39 AM ******/
CREATE PROCEDURE dbo.AccountProperty_RemoveProperty
	(
		@AccountID INT = NULL,
		@Property NVARCHAR(32) = NULL
	)
AS
    DELETE FROM AccountProperty 
    
    WHERE AccountID=@AccountID
      AND Property=@Property
	
	RETURN 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

/****** Object:  Stored Procedure dbo.AccountProperty_Update    Script Date: 10/5/2001 2:36:39 AM ******/
CREATE PROCEDURE dbo.AccountProperty_Update
	(
		@AccountID INT         = NULL,
		@Property NVARCHAR(32) = NULL,
		@Value TEXT            = NULL,
		@ModifiedDate DATETIME = NULL
	)
AS
	SET NOCOUNT ON
	
	UPDATE AccountProperty
	SET 
		Value = @Value,
	    ModifiedDate = @ModifiedDate
	    
	WHERE (AccountID = @AccountID AND Property = @Property)
	
	RETURN 

GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

/****** Object:  Stored Procedure dbo.ContentNotes_CountNotesForID    Script Date: 10/5/2001 2:36:39 AM ******/
CREATE PROCEDURE dbo.ContentNotes_CountNotesForID
	(
		@ContentID INT = NULL
	)
AS
	SET NOCOUNT ON

    SELECT COUNT(*) 
    FROM ContentNotes 
    
    WHERE ContentID=@ContentID
	
	RETURN

GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

/****** Object:  Stored Procedure dbo.ContentNotes_GetNote    Script Date: 10/5/2001 2:36:39 AM ******/
CREATE PROCEDURE dbo.ContentNotes_GetNote
	(
		@NoteID INT = NULL
	)
AS
	SET NOCOUNT ON
	
      SELECT * 
        FROM ContentNotes 
    
       WHERE NoteID=@NoteID
	
	RETURN 

GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

/****** Object:  Stored Procedure dbo.ContentNotes_GetNotesForID    Script Date: 10/5/2001 2:36:39 AM ******/
CREATE PROCEDURE dbo.ContentNotes_GetNotesForID
	(
		@ContentID INT = NULL
	)
AS
	SET NOCOUNT ON
	
      SELECT * 
        FROM ContentNotes 
    
       WHERE ContentID=@ContentID
    ORDER BY ModifiedDate DESC
	
	RETURN 

GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

/****** Object:  Stored Procedure dbo.ContentNotes_Insert    Script Date: 10/5/2001 2:36:39 AM ******/
CREATE PROCEDURE dbo.ContentNotes_Insert
	(
		@ContentID INT         = NULL,
		@Note TEXT             = NULL,
		@Author INT            = NULL,
		@ModifiedDate DATETIME = NULL,
		@CreationDate DATETIME = NULL

	)
AS
	SET NOCOUNT ON
	
	INSERT INTO ContentNotes (ContentID, Note, Author, ModifiedDate, CreationDate) 
	       VALUES (@ContentID, @Note, @Author, @ModifiedDate, @CreationDate)

	RETURN 

GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

/****** Object:  Stored Procedure dbo.ContentNotes_Remove    Script Date: 10/5/2001 2:36:40 AM ******/
CREATE PROCEDURE dbo.ContentNotes_Remove
	(
		@NoteID INT = NULL
	)
AS
    DELETE FROM ContentNotes 
    
    WHERE NoteID=@NoteID
	
	RETURN 

GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

/****** Object:  Stored Procedure dbo.ContentNotes_Update    Script Date: 10/5/2001 2:36:40 AM ******/
CREATE PROCEDURE dbo.ContentNotes_Update
	(
		@NoteID INT            = NULL,
		@Note TEXT             = NULL,
		@ModifiedDate DATETIME = NULL
	)
AS
	SET NOCOUNT ON
	
	UPDATE ContentNotes
	SET 
		   Note         = @Note,
	       ModifiedDate = @ModifiedDate
	       
	WHERE  NoteID = @NoteID
	
	RETURN 

GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

/****** Object:  Stored Procedure dbo.ContentRank_GetRankID    Script Date: 10/5/2001 2:36:40 AM ******/
CREATE PROCEDURE dbo.ContentRank_GetRankID
	(
		@rank NVARCHAR(10) = NULL
	)
AS
	SET NOCOUNT ON
	
    SELECT RankID
      FROM ContentRank
     WHERE Rank=@rank   
	
	RETURN 

GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

/****** Object:  Stored Procedure dbo.ContentRank_GetRanks    Script Date: 10/5/2001 2:36:40 AM ******/
CREATE PROCEDURE dbo.ContentRank_GetRanks
AS
	SET NOCOUNT ON
	
    Select *
        FROM ContentRank 
	
	RETURN 

GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

/****** Object:  Stored Procedure dbo.AccountRoles_GetAllRole    Script Date: 10/5/2001 2:36:40 AM ******/
CREATE PROCEDURE dbo.AccountRoles_GetAllRole
	(
		@Role NVARCHAR(32) = NULL
	)
AS
	SET NOCOUNT ON

    SELECT AccountID
      FROM AccountRoles
     WHERE Role=@Role

	RETURN 

GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

/****** Object:  Stored Procedure dbo.AccountRoles_GetRolesForID    Script Date: 10/5/2001 2:36:40 AM ******/
CREATE PROCEDURE dbo.AccountRoles_GetRolesForID
	(
		@AccountID INT = NULL
	)
AS
	SET NOCOUNT ON

    SELECT role
      FROM AccountRoles
     WHERE AccountID=@AccountID

	RETURN 

GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

/****** Object:  Stored Procedure dbo.AccountRoles_Insert    Script Date: 10/5/2001 2:36:40 AM ******/
CREATE PROCEDURE dbo.AccountRoles_Insert
	(
		@AccountID INT         = NULL,
		@Role NVARCHAR(32)     = NULL,
		@CreationDate DATETIME = NULL
	)
AS
	SET NOCOUNT ON

    INSERT 
    INTO   AccountRoles ( AccountID,  Role,  CreationDate) 
    VALUES              (@AccountID, @Role, @CreationDate)

	RETURN 

GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

/****** Object:  Stored Procedure dbo.AccountRoles_Remove    Script Date: 10/5/2001 2:36:40 AM ******/
CREATE PROCEDURE dbo.AccountRoles_Remove
	(
		@AccountID INT = NULL
	)
AS
    DELETE FROM AccountRoles
    
    WHERE AccountID=@AccountID
	
	RETURN 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

/****** Object:  Stored Procedure dbo.Content_Insert    Script Date: 10/5/2001 2:36:40 AM ******/
CREATE PROCEDURE dbo.Content_Insert
	(
		@ContentID INT         = NULL,
		@Version INT           = NULL,
		@Protected INT         = NULL,
		@Headline TEXT         = NULL,
		@Source TEXT           = NULL,
		@Byline INT            = NULL,
		@Teaser TEXT           = NULL,
		@Body TEXT             = NULL,
		@Tagline TEXT          = NULL,
		@Status INT            = NULL,
		@Editor INT            = NULL,
		@Approver INT          = NULL,
		@UpdateUserID INT      = NULL,
		@ModifiedDate DATETIME = NULL,
		@CreationDate DATETIME = NULL

	)
AS
	SET NOCOUNT ON
	
	INSERT INTO Content (ContentID, Version, Protected, Headline, Source, Byline, Teaser, 
	                     Body, Tagline, Status, Editor, Approver, UpdateUserID, 
	                     ModifiedDate, CreationDate) 
	       VALUES (@ContentID, @Version, @Protected, @Headline, @Source, @Byline, @Teaser, 
	               @Body, @Tagline, @Status, @Editor, @Approver, @UpdateUserID, 
	               @ModifiedDate, @CreationDate)

	RETURN 

GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

/****** Object:  Stored Procedure dbo.Content_SetProtected    Script Date: 10/5/2001 2:36:40 AM ******/
CREATE PROCEDURE dbo.Content_SetProtected
	(
		@ContentID INT         = NULL,
		@Version INT           = NULL,
		@Protected INT         = NULL,
		@ModifiedDate DATETIME = NULL
	)
AS
	SET NOCOUNT ON
	
	UPDATE Content
	SET 
		   Protected    = @Protected,
	       ModifiedDate = @ModifiedDate
	       
	WHERE  ContentID = @ContentID
	  AND  Version = @Version
	
	RETURN 

GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

/****** Object:  Stored Procedure dbo.Content_Update    Script Date: 10/5/2001 2:36:40 AM ******/
CREATE PROCEDURE dbo.Content_Update
	(
		@ContentID INT         = NULL,
		@Version INT           = NULL,
		@Protected INT         = NULL,
		@Headline TEXT         = NULL,
		@Source TEXT           = NULL,
		@Byline INT            = NULL,
		@Teaser TEXT           = NULL,
		@Body TEXT             = NULL,
		@Tagline TEXT          = NULL,
		@Status INT            = NULL,
		@Editor INT            = NULL,
		@Approver INT          = NULL,
		@UpdateUserID INT      = NULL,
		@ModifiedDate DATETIME = NULL
	)
AS
	SET NOCOUNT ON
	
	UPDATE Content
	SET 
		   Protected    = @Protected,
		   Headline     = @Headline,
		   Source       = @Source,
		   Byline       = @Byline,
		   Teaser       = @Teaser,
		   Body         = @Body,
		   Tagline      = @Tagline,
		   Status       = @Status,
		   Editor       = @Editor,
		   Approver     = @Approver,
		   UpdateUserID = @UpdateUserID,
	       ModifiedDate = @ModifiedDate
	       
	WHERE  ContentID = @ContentID
	  AND  Version = @Version
	
	RETURN 

GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO


exec sp_addextendedproperty N'MS_Description', N'Content ID Key ', N'user', N'dbo', N'table', N'Content', N'column', N'ContentID'

GO

INSERT INTO [dbo].[ContentRank]([RankID], [Rank]) VALUES(1, "Low")
INSERT INTO [dbo].[ContentRank]([RankID], [Rank]) VALUES(2, "Average")
INSERT INTO [dbo].[ContentRank]([RankID], [Rank]) VALUES(3, "High")

INSERT INTO [dbo].[Domain]([DomainID], [DomainType], [Protected], [Title], [Description], [ModifiedDate], [CreationDate])
VALUES(2, "homepg", 0, "Home", "The domain is the home page of the web site", "2001-01-01", "2001-01-01")
INSERT INTO [dbo].[Domain]([DomainID], [DomainType], [Protected], [Title], [Description], [ModifiedDate], [CreationDate])
VALUES(3, "contentpg", 0, "Developer Content", "This domain handles all developer content", "2001-01-01", "2001-01-01")
INSERT INTO [dbo].[Domain]([DomainID], [DomainType], [Protected], [Title], [Description], [ModifiedDate], [CreationDate])
VALUES(4, "contentpg", 0, "Management Content", "This domain handles all management content", "2001-01-01", "2001-01-01")

INSERT INTO [dbo].[Roles]([RoleID], [Role]) VALUES(1, "Administrator")
INSERT INTO [dbo].[Roles]([RoleID], [Role]) VALUES(2, "Author")
INSERT INTO [dbo].[Roles]([RoleID], [Role]) VALUES(3, "Editor")

INSERT INTO [dbo].[Zone]([ZoneID], [Protected], [Title], [Description], [DomainID], [ModifiedDate], [CreationDate])
VALUES(1, 0,"e-Business", "Zone containing e-Business content", 3, "2001-01-01", "2001-01-01")
INSERT INTO [dbo].[Zone]([ZoneID], [Protected], [Title], [Description], [DomainID], [ModifiedDate], [CreationDate])
VALUES(2, 0,"Development", "Zone containing Development content", 3, "2001-01-01", "2001-01-01")
INSERT INTO [dbo].[Zone]([ZoneID], [Protected], [Title], [Description], [DomainID], [ModifiedDate], [CreationDate])
VALUES(3, 0,"Database", "Zone containing Database content", 3, "2001-01-01", "2001-01-01")

